In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Data/활성화지역진단 결과_2022-06-11 (1).xls')

In [3]:
df = df.replace('O', 1) #O를 1로
df = df.replace('X', 0)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시도명        196 non-null    object
 1   시군구명       196 non-null    object
 2   최종 선정지역    196 non-null    object
 3   인구사회       196 non-null    int64
 4   산업경제       196 non-null    int64
 5   물리환경       196 non-null    int64
 6   과거대비인구변화   196 non-null    float64
 7   최근인구변화     196 non-null    int64
 8   과거대비사업체변화  196 non-null    float64
 9   최근사업체변화    196 non-null    int64
 10  노후건축물비율    196 non-null    float64
dtypes: float64(3), int64(5), object(3)
memory usage: 17.0+ KB

In [5]:
df2 = pd.read_csv('Data/국토교통부_잠재력지표_2021.csv', encoding='euc-kr')
df_act = pd.read_csv('Data/국토교통부_활성화지역진단지표시군구_2021.csv', encoding='euc-kr')

In [6]:
idx_19 = df2[df2['연도'] != 2019].index
df2 = df2.drop(idx_19)

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 257 to 2496
Data columns (total 41 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   시군구코드           229 non-null    int64
 1   연도              229 non-null    int64
 2   시군구명            229 non-null    object
 3   대졸인구비율          0 non-null      float64
 4   대졸인구비율등급        0 non-null      float64
 5   여성종사자비율         229 non-null    float64
 6   여성종사자비율등급       229 non-null    float64
 7   20세미만인구성장률      229 non-null    float64
 8   20세미만인구성장률등급    229 non-null    float64
 9   투표율             0 non-null      float64
 10  투표율등급           0 non-null      float64
 11  재정자립도           229 non-null    float64
 12  재정자립도등급         229 non-null    float64
 13  경제활동인구대비종사자수    229 non-null    float64
 14  경제활동인구대비종사자수등급  229 non-null    float64
 15  1인당지역내총생산       0 non-null      float64
 16  1인당지역내총생산등급     0 non-null      float64
 17  특허출원건수          229 non-null    float64
 18  특허출원건수등급        229 non-null    float64
 19  1인당주민세          229 non-null    float64
 20  1인당주민세등급        229 non-null    float64
 21  1인당공원면적         228 non-null    float64
 22  1인당공원면적등급       229 non-null    float64
 23  도로밀도            229 non-null    float64
 24  도로밀도등급          229 non-null    float64
 25  1만인당공무원수        229 non-null    float64
 26  1만인당공무원수등급      229 non-null    float64
 27  건축허가면적증감률       214 non-null    float64
 28  건축허가면적증감률등급     229 non-null    float64
 29  주민등록인구전출입률      229 non-null    float64
 30  주민등록인구전출입률등급    229 non-null    float64
 31  폐기물재활용률         214 non-null    float64
 32  폐기물재활용률등급       229 non-null    float64
 33  1만인당사회복지시설수     196 non-null    float64
 34  1만인당사회복지시설수등급   229 non-null    float64
 35  1만인당문화체육시설수     229 non-null    float64
 36  1만인당문화체육시설수등급   229 non-null    float64
 37  1만인당축제건수        208 non-null    float64
 38  1만인당축제건수등급      229 non-null    float64
 39  비영리단체수          229 non-null    float64
 40  비영리단체수등급        229 non-null    float64
dtypes: float64(38), int64(2), object(1)
memory usage: 75.1+ KB

In [8]:
idx_19 = df_act[df_act['연도'] != 2019].index
df_act = df_act.drop(idx_19)

In [9]:
len(df_act)

229

In [10]:
df_act = df_act.drop(['시도코드', '시도명', '연도', '기준연도'], axis=1)

In [11]:
df1 = df[['인구사회', '시군구명']]

In [12]:
df_new = pd.merge(df1, df2, how='outer', on=['시군구명'])

df_new=pd.merge(df_act, df_new, how='outer', on=['시군구코드'])

In [13]:
df_new['인구사회'] = df_new['인구사회'].fillna(0)

df_new['시도명'] =[""]*len(df_new)


df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 49 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   시군구코드           229 non-null    int64
 1   시군구명_x          229 non-null    object
 2   과거대비인구변화        228 non-null    float64
 3   최근인구변화          228 non-null    float64
 4   과거대비사업체변화       229 non-null    float64
 5   최근사업체변화         229 non-null    float64
 6   노후건축물비율         229 non-null    float64
 7   인구사회            229 non-null    float64
 8   시군구명_y          229 non-null    object
 9   연도              229 non-null    int64
 10  대졸인구비율          0 non-null      float64
 11  대졸인구비율등급        0 non-null      float64
 12  여성종사자비율         229 non-null    float64
 13  여성종사자비율등급       229 non-null    float64
 14  20세미만인구성장률      229 non-null    float64
 15  20세미만인구성장률등급    229 non-null    float64
 16  투표율             0 non-null      float64
 17  투표율등급           0 non-null      float64
 18  재정자립도           229 non-null    float64
 19  재정자립도등급         229 non-null    float64
 20  경제활동인구대비종사자수    229 non-null    float64
 21  경제활동인구대비종사자수등급  229 non-null    float64
 22  1인당지역내총생산       0 non-null      float64
 23  1인당지역내총생산등급     0 non-null      float64
 24  특허출원건수          229 non-null    float64
 25  특허출원건수등급        229 non-null    float64
 26  1인당주민세          229 non-null    float64
 27  1인당주민세등급        229 non-null    float64
 28  1인당공원면적         228 non-null    float64
 29  1인당공원면적등급       229 non-null    float64
 30  도로밀도            229 non-null    float64
 31  도로밀도등급          229 non-null    float64
 32  1만인당공무원수        229 non-null    float64
 33  1만인당공무원수등급      229 non-null    float64
 34  건축허가면적증감률       214 non-null    float64
 35  건축허가면적증감률등급     229 non-null    float64
 36  주민등록인구전출입률      229 non-null    float64
 37  주민등록인구전출입률등급    229 non-null    float64
 38  폐기물재활용률         214 non-null    float64
 39  폐기물재활용률등급       229 non-null    float64
 40  1만인당사회복지시설수     196 non-null    float64
 41  1만인당사회복지시설수등급   229 non-null    float64
 42  1만인당문화체육시설수     229 non-null    float64
 43  1만인당문화체육시설수등급   229 non-null    float64
 44  1만인당축제건수        208 non-null    float64
 45  1만인당축제건수등급      229 non-null    float64
 46  비영리단체수          229 non-null    float64
 47  비영리단체수등급        229 non-null    float64
 48  시도명             229 non-null    object
dtypes: float64(44), int64(2), object(3)
memory usage: 89.5+ KB

In [14]:
for i in range(len(df_new)):
    si = df_new.iloc[i, 1].split()
    df_new.iloc[i, 48] = si[0]

In [15]:
idx_sg = df_new[(df_new['시도명']=='서울특별시') | (df_new['시도명']=='경기도')].index
df_new.drop(idx_sg)

,시군구코드,시군구명_x,과거대비인구변화,최근인구변화,과거대비사업체변화,최근사업체변화,노후건축물비율,인구사회,시군구명_y,연도,...,폐기물재활용률등급,1만인당사회복지시설수,1만인당사회복지시설수등급,1만인당문화체육시설수,1만인당문화체육시설수등급,1만인당축제건수,1만인당축제건수등급,비영리단체수,비영리단체수등급,시도명
0,42830,강원도 양양군,-30.05,3.0,3.63,0.0,39.42,1.0,강원도 양양군,2019,...,5.0,58.00,6.0,35.57,6.0,1.16,7.0,6.0,1.0,강원도
1,46130,전라남도 여수시,-14.27,5.0,3.16,0.0,64.64,1.0,전라남도 여수시,2019,...,5.0,NaN,0.0,30.89,6.0,0.23,3.0,79.0,6.0,전라남도
2,47920,경상북도 봉화군,-60.15,5.0,1.37,0.0,65.72,1.0,경상북도 봉화군,2019,...,5.0,92.86,7.0,23.80,6.0,1.01,7.0,6.0,1.0,경상북도
5,44770,충청남도 서천군,-51.49,5.0,2.50,1.0,57.18,1.0,충청남도 서천군,2019,...,0.0,71.03,7.0,17.66,5.0,1.61,7.0,18.0,1.0,충청남도
6,48730,경상남도 함안군,-9.07,4.0,4.24,1.0,32.75,1.0,경상남도 함안군,2019,...,6.0,58.77,6.0,14.09,4.0,0.16,2.0,17.0,1.0,경상남도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,43745,충청북도 증평군,-12.12,1.0,4.11,0.0,54.44,0.0,충청북도 증평군,2019,...,5.0,NaN,0.0,39.61,6.0,0.55,6.0,13.0,1.0,충청북도
223,44760,충청남도 부여군,-49.99,5.0,-1.59,2.0,70.87,1.0,충청남도 부여군,2019,...,0.0,77.24,7.0,14.03,4.0,0.47,5.0,11.0,1.0,충청남도
224,31710,울산광역시 울주군,12.15,1.0,2.81,0.0,41.07,0.0,울산광역시 울주군,2019,...,5.0,21.76,5.0,16.71,5.0,0.14,1.0,42.0,4.0,울산광역시
226,46800,전라남도 장흥군,-59.47,4.0,3.91,1.0,65.19,1.0,전라남도 장흥군,2019,...,6.0,NaN,0.0,29.42,6.0,1.44,7.0,16.0,1.0,전라남도
227,49130,제주특별자치도 서귀포시,-13.83,0.0,6.97,0.0,58.26,0.0,제주특별자치도 서귀포시,2019,...,4.0,11.64,2.0,29.39,6.0,0.77,6.0,77.0,6.0,제주특별자치도

In [16]:
df_new=df_new.drop(['투표율', '투표율등급', '1인당지역내총생산', '1인당지역내총생산등급'], axis=1)

In [17]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 45 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   시군구코드           229 non-null    int64
 1   시군구명_x          229 non-null    object
 2   과거대비인구변화        228 non-null    float64
 3   최근인구변화          228 non-null    float64
 4   과거대비사업체변화       229 non-null    float64
 5   최근사업체변화         229 non-null    float64
 6   노후건축물비율         229 non-null    float64
 7   인구사회            229 non-null    float64
 8   시군구명_y          229 non-null    object
 9   연도              229 non-null    int64
 10  대졸인구비율          0 non-null      float64
 11  대졸인구비율등급        0 non-null      float64
 12  여성종사자비율         229 non-null    float64
 13  여성종사자비율등급       229 non-null    float64
 14  20세미만인구성장률      229 non-null    float64
 15  20세미만인구성장률등급    229 non-null    float64
 16  재정자립도           229 non-null    float64
 17  재정자립도등급         229 non-null    float64
 18  경제활동인구대비종사자수    229 non-null    float64
 19  경제활동인구대비종사자수등급  229 non-null    float64
 20  특허출원건수          229 non-null    float64
 21  특허출원건수등급        229 non-null    float64
 22  1인당주민세          229 non-null    float64
 23  1인당주민세등급        229 non-null    float64
 24  1인당공원면적         228 non-null    float64
 25  1인당공원면적등급       229 non-null    float64
 26  도로밀도            229 non-null    float64
 27  도로밀도등급          229 non-null    float64
 28  1만인당공무원수        229 non-null    float64
 29  1만인당공무원수등급      229 non-null    float64
 30  건축허가면적증감률       214 non-null    float64
 31  건축허가면적증감률등급     229 non-null    float64
 32  주민등록인구전출입률      229 non-null    float64
 33  주민등록인구전출입률등급    229 non-null    float64
 34  폐기물재활용률         214 non-null    float64
 35  폐기물재활용률등급       229 non-null    float64
 36  1만인당사회복지시설수     196 non-null    float64
 37  1만인당사회복지시설수등급   229 non-null    float64
 38  1만인당문화체육시설수     229 non-null    float64
 39  1만인당문화체육시설수등급   229 non-null    float64
 40  1만인당축제건수        208 non-null    float64
 41  1만인당축제건수등급      229 non-null    float64
 42  비영리단체수          229 non-null    float64
 43  비영리단체수등급        229 non-null    float64
 44  시도명             229 non-null    object
dtypes: float64(40), int64(2), object(3)
memory usage: 90.4+ KB

In [18]:
df_new['1인당공원면적'] = df_new['1인당공원면적'].fillna(df_new.groupby(['시도명'])['1인당공원면적'].transform('mean'))
df_new['건축허가면적증감률'] = df_new['건축허가면적증감률'].fillna(df_new.groupby(['시도명'])['건축허가면적증감률'].transform('mean'))
df_new['폐기물재활용률'] = df_new['폐기물재활용률'].fillna(df_new.groupby(['시도명'])['폐기물재활용률'].transform('mean'))
df_new['1만인당사회복지시설수'] = df_new['1만인당사회복지시설수'].fillna(df_new.groupby(['시도명'])['1만인당사회복지시설수'].transform('mean'))
df_new['1만인당축제건수'] = df_new['1만인당축제건수'].fillna(df_new.groupby(['시도명'])['1만인당축제건수'].transform('mean'))
df_new['과거대비인구변화'] = df_new['과거대비인구변화'].fillna(df_new.groupby(['시도명'])['과거대비인구변화'].transform('mean'))
df_new['최근인구변화'] = df_new['최근인구변화'].fillna(df_new.groupby(['시도명'])['최근인구변화'].transform('mean'))

In [19]:
df_new=df_new.drop(['대졸인구비율', '대졸인구비율등급', '시군구명_y'], axis=1)

In [20]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 42 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   시군구코드           229 non-null    int64
 1   시군구명_x          229 non-null    object
 2   과거대비인구변화        228 non-null    float64
 3   최근인구변화          228 non-null    float64
 4   과거대비사업체변화       229 non-null    float64
 5   최근사업체변화         229 non-null    float64
 6   노후건축물비율         229 non-null    float64
 7   인구사회            229 non-null    float64
 8   연도              229 non-null    int64
 9   여성종사자비율         229 non-null    float64
 10  여성종사자비율등급       229 non-null    float64
 11  20세미만인구성장률      229 non-null    float64
 12  20세미만인구성장률등급    229 non-null    float64
 13  재정자립도           229 non-null    float64
 14  재정자립도등급         229 non-null    float64
 15  경제활동인구대비종사자수    229 non-null    float64
 16  경제활동인구대비종사자수등급  229 non-null    float64
 17  특허출원건수          229 non-null    float64
 18  특허출원건수등급        229 non-null    float64
 19  1인당주민세          229 non-null    float64
 20  1인당주민세등급        229 non-null    float64
 21  1인당공원면적         229 non-null    float64
 22  1인당공원면적등급       229 non-null    float64
 23  도로밀도            229 non-null    float64
 24  도로밀도등급          229 non-null    float64
 25  1만인당공무원수        229 non-null    float64
 26  1만인당공무원수등급      229 non-null    float64
 27  건축허가면적증감률       214 non-null    float64
 28  건축허가면적증감률등급     229 non-null    float64
 29  주민등록인구전출입률      229 non-null    float64
 30  주민등록인구전출입률등급    229 non-null    float64
 31  폐기물재활용률         214 non-null    float64
 32  폐기물재활용률등급       229 non-null    float64
 33  1만인당사회복지시설수     196 non-null    float64
 34  1만인당사회복지시설수등급   229 non-null    float64
 35  1만인당문화체육시설수     229 non-null    float64
 36  1만인당문화체육시설수등급   229 non-null    float64
 37  1만인당축제건수        229 non-null    float64
 38  1만인당축제건수등급      229 non-null    float64
 39  비영리단체수          229 non-null    float64
 40  비영리단체수등급        229 non-null    float64
 41  시도명             229 non-null    object
dtypes: float64(38), int64(2), object(2)
memory usage: 85.0+ KB

In [21]:
df_new['1만인당사회복지시설수'] = df_new['1만인당사회복지시설수'].fillna(df_new['1만인당사회복지시설수'].mean())
df_new['폐기물재활용률'] = df_new['폐기물재활용률'].fillna(df_new['폐기물재활용률'].mean())
df_new['건축허가면적증감률'] = df_new['건축허가면적증감률'].fillna(df_new['건축허가면적증감률'].mean())
df_new['과거대비인구변화'] = df_new['과거대비인구변화'].fillna(df_new['과거대비인구변화'].mean())
df_new['최근인구변화'] = df_new['최근인구변화'].fillna(df_new['최근인구변화'].mean())

In [22]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 42 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   시군구코드           229 non-null    int64
 1   시군구명_x          229 non-null    object
 2   과거대비인구변화        229 non-null    float64
 3   최근인구변화          229 non-null    float64
 4   과거대비사업체변화       229 non-null    float64
 5   최근사업체변화         229 non-null    float64
 6   노후건축물비율         229 non-null    float64
 7   인구사회            229 non-null    float64
 8   연도              229 non-null    int64
 9   여성종사자비율         229 non-null    float64
 10  여성종사자비율등급       229 non-null    float64
 11  20세미만인구성장률      229 non-null    float64
 12  20세미만인구성장률등급    229 non-null    float64
 13  재정자립도           229 non-null    float64
 14  재정자립도등급         229 non-null    float64
 15  경제활동인구대비종사자수    229 non-null    float64
 16  경제활동인구대비종사자수등급  229 non-null    float64
 17  특허출원건수          229 non-null    float64
 18  특허출원건수등급        229 non-null    float64
 19  1인당주민세          229 non-null    float64
 20  1인당주민세등급        229 non-null    float64
 21  1인당공원면적         229 non-null    float64
 22  1인당공원면적등급       229 non-null    float64
 23  도로밀도            229 non-null    float64
 24  도로밀도등급          229 non-null    float64
 25  1만인당공무원수        229 non-null    float64
 26  1만인당공무원수등급      229 non-null    float64
 27  건축허가면적증감률       229 non-null    float64
 28  건축허가면적증감률등급     229 non-null    float64
 29  주민등록인구전출입률      229 non-null    float64
 30  주민등록인구전출입률등급    229 non-null    float64
 31  폐기물재활용률         229 non-null    float64
 32  폐기물재활용률등급       229 non-null    float64
 33  1만인당사회복지시설수     229 non-null    float64
 34  1만인당사회복지시설수등급   229 non-null    float64
 35  1만인당문화체육시설수     229 non-null    float64
 36  1만인당문화체육시설수등급   229 non-null    float64
 37  1만인당축제건수        229 non-null    float64
 38  1만인당축제건수등급      229 non-null    float64
 39  비영리단체수          229 non-null    float64
 40  비영리단체수등급        229 non-null    float64
 41  시도명             229 non-null    object
dtypes: float64(38), int64(2), object(2)
memory usage: 85.0+ KB

In [23]:
df_new.rename(columns={'시군구명_x' : '시군구명'}, inplace=True)
df_new = df_new.drop(['연도', '시도명', '시군구코드'], axis=1)
# df_new.set_index('시군구명', inplace=True)

In [24]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 0 to 228
Data columns (total 39 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   시군구명            229 non-null    object
 1   과거대비인구변화        229 non-null    float64
 2   최근인구변화          229 non-null    float64
 3   과거대비사업체변화       229 non-null    float64
 4   최근사업체변화         229 non-null    float64
 5   노후건축물비율         229 non-null    float64
 6   인구사회            229 non-null    float64
 7   여성종사자비율         229 non-null    float64
 8   여성종사자비율등급       229 non-null    float64
 9   20세미만인구성장률      229 non-null    float64
 10  20세미만인구성장률등급    229 non-null    float64
 11  재정자립도           229 non-null    float64
 12  재정자립도등급         229 non-null    float64
 13  경제활동인구대비종사자수    229 non-null    float64
 14  경제활동인구대비종사자수등급  229 non-null    float64
 15  특허출원건수          229 non-null    float64
 16  특허출원건수등급        229 non-null    float64
 17  1인당주민세          229 non-null    float64
 18  1인당주민세등급        229 non-null    float64
 19  1인당공원면적         229 non-null    float64
 20  1인당공원면적등급       229 non-null    float64
 21  도로밀도            229 non-null    float64
 22  도로밀도등급          229 non-null    float64
 23  1만인당공무원수        229 non-null    float64
 24  1만인당공무원수등급      229 non-null    float64
 25  건축허가면적증감률       229 non-null    float64
 26  건축허가면적증감률등급     229 non-null    float64
 27  주민등록인구전출입률      229 non-null    float64
 28  주민등록인구전출입률등급    229 non-null    float64
 29  폐기물재활용률         229 non-null    float64
 30  폐기물재활용률등급       229 non-null    float64
 31  1만인당사회복지시설수     229 non-null    float64
 32  1만인당사회복지시설수등급   229 non-null    float64
 33  1만인당문화체육시설수     229 non-null    float64
 34  1만인당문화체육시설수등급   229 non-null    float64
 35  1만인당축제건수        229 non-null    float64
 36  1만인당축제건수등급      229 non-null    float64
 37  비영리단체수          229 non-null    float64
 38  비영리단체수등급        229 non-null    float64
dtypes: float64(38), object(1)
memory usage: 79.7+ KB

In [25]:
df_new.drop(df_new.columns[range(8,38,2)], axis=1, inplace=True)
df_new

,시군구명,과거대비인구변화,최근인구변화,과거대비사업체변화,최근사업체변화,노후건축물비율,인구사회,여성종사자비율,20세미만인구성장률,재정자립도,...,도로밀도,1만인당공무원수,건축허가면적증감률,주민등록인구전출입률,폐기물재활용률,1만인당사회복지시설수,1만인당문화체육시설수,1만인당축제건수,비영리단체수,비영리단체수등급
0,강원도 양양군,-30.05,3.0,3.63,0.0,39.42,1.0,44.38,-2.20,13.58,...,0.91,202.61,-0.21,2.03,77.03,58.000000,35.57,1.160000,6.0,1.0
1,전라남도 여수시,-14.27,5.0,3.16,0.0,64.64,1.0,34.41,-4.49,36.85,...,3.02,67.65,-9.95,-0.11,74.41,32.498724,30.89,0.230000,79.0,6.0
2,경상북도 봉화군,-60.15,5.0,1.37,0.0,65.72,1.0,30.42,-6.30,8.97,...,0.84,204.83,-41.55,-1.15,79.50,92.860000,23.80,1.010000,6.0,1.0
3,경기도 남양주시,17.24,0.0,3.69,0.0,30.09,0.0,46.07,-0.19,34.74,...,4.04,21.41,-12.19,2.79,90.21,12.350000,11.49,0.040000,93.0,6.0
4,경기도 용인시,10.86,0.0,5.89,0.0,29.98,0.0,42.46,-1.18,60.81,...,3.95,22.40,-10.60,2.19,86.64,10.350000,12.70,0.170435,99.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,울산광역시 울주군,12.15,1.0,2.81,0.0,41.07,0.0,27.81,-3.20,45.97,...,0.81,46.99,-38.45,0.51,80.99,21.760000,16.71,0.140000,42.0,4.0
225,경기도 안산시,-6.31,5.0,1.34,0.0,41.08,1.0,38.29,-5.30,55.85,...,10.29,33.53,-24.28,-1.61,75.14,7.480000,15.80,0.170435,149.0,7.0
226,전라남도 장흥군,-59.47,4.0,3.91,1.0,65.19,1.0,45.09,-5.91,11.33,...,0.82,175.39,26.18,-1.17,95.08,32.498724,29.42,1.440000,16.0,1.0
227,제주특별자치도 서귀포시,-13.83,0.0,6.97,0.0,58.26,0.0,49.26,-1.51,36.52,...,1.86,47.45,-43.43,0.26,50.47,11.640000,29.39,0.770000,77.0,6.0
228,서울특별시 노원구,-7.94,5.0,0.29,0.0,70.16,1.0,55.35,-6.26,20.58,...,7.38,30.18,60.30,-2.03,88.88,6.780000,12.53,0.040000,65.0,6.0

In [26]:
feature_columns = df_new.columns.difference(['인구사회', '시군구명'])

X = df_new[feature_columns]
y = df_new['인구사회']

In [27]:
X

,1만인당공무원수,1만인당문화체육시설수,1만인당사회복지시설수,1만인당축제건수,1인당공원면적,1인당주민세,20세미만인구성장률,건축허가면적증감률,경제활동인구대비종사자수,과거대비사업체변화,...,도로밀도,비영리단체수,비영리단체수등급,여성종사자비율,재정자립도,주민등록인구전출입률,최근사업체변화,최근인구변화,특허출원건수,폐기물재활용률
0,202.61,35.57,58.000000,1.160000,6.35,20.81,-2.20,-0.21,0.61,3.63,...,0.91,6.0,1.0,44.38,13.58,2.03,0.0,3.0,25.0,77.03
1,67.65,30.89,32.498724,0.230000,24.64,61.86,-4.49,-9.95,0.61,3.16,...,3.02,79.0,6.0,34.41,36.85,-0.11,0.0,5.0,210.0,74.41
2,204.83,23.80,92.860000,1.010000,22.84,21.47,-6.30,-41.55,0.44,1.37,...,0.84,6.0,1.0,30.42,8.97,-1.15,0.0,5.0,21.0,79.50
3,21.41,11.49,12.350000,0.040000,10.25,12.28,-0.19,-12.19,0.30,3.69,...,4.04,93.0,6.0,46.07,34.74,2.79,0.0,0.0,1141.0,90.21
4,22.40,12.70,10.350000,0.170435,11.52,39.37,-1.18,-10.60,0.42,5.89,...,3.95,99.0,6.0,42.46,60.81,2.19,0.0,0.0,6334.0,86.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,46.99,16.71,21.760000,0.140000,60.78,78.35,-3.20,-38.45,0.62,2.81,...,0.81,42.0,4.0,27.81,45.97,0.51,0.0,1.0,942.0,80.99
225,33.53,15.80,7.480000,0.170435,14.64,47.38,-5.30,-24.28,0.56,1.34,...,10.29,149.0,7.0,38.29,55.85,-1.61,0.0,5.0,2008.0,75.14
226,175.39,29.42,32.498724,1.440000,29.94,14.31,-5.91,26.18,0.50,3.91,...,0.82,16.0,1.0,45.09,11.33,-1.17,1.0,4.0,34.0,95.08
227,47.45,29.39,11.640000,0.770000,16.73,21.50,-1.51,-43.43,0.46,6.97,...,1.86,77.0,6.0,49.26,36.52,0.26,0.0,0.0,180.0,50.47
228,30.18,12.53,6.780000,0.040000,3.52,11.02,-6.26,60.30,0.24,0.29,...,7.38,65.0,6.0,55.35,20.58,-2.03,0.0,5.0,966.0,88.88

In [28]:
import statsmodels.api as sm

full_model = sm.OLS(y, X)
fitted_full_model = full_model.fit()

fitted_full_model.summary()

ImportError: numpy.core.multiarray failed to import