In [2]:
import pandas as pd
import numpy as np

In [3]:
df_p = pd.read_csv('clusterafter.csv')
df_i = pd.read_csv('clusterafter산업경제.csv')
df_e = pd.read_csv('clusterafter물리환경.csv')

In [4]:

df_p.rename(columns = {'cluster' : 'cluster_인구사회'}, inplace = True)
df_i.rename(columns = {'cluster' : 'cluster_산업경제'}, inplace = True)
df_e.rename(columns = {'cluster' : 'cluster_물리환경'}, inplace = True)

In [5]:
df_i.columns

Index(['Unnamed: 0', '시군구명', '산업경제', '과거대비인구변화', '최근인구변화', '과거대비사업체변화',
       '최근사업체변화', '노후건축물비율', '시군구코드', '20세미만인구성장률', '재정자립도', '경제활동인구대비종사자수',
       '특허출원건수', '1인당주민세', '1인당공원면적', '도로밀도', '1만인당공무원수', '주민등록인구전출입률',
       '폐기물재활용률', '1만인당사회복지시설수', '1만인당문화체육시설수', '1만인당축제건수', 'cluster_산업경제'],
      dtype='object')

In [6]:
df_i_m = df_i[['시군구명', 'cluster_산업경제', '시군구코드']]

In [7]:
df_i_m

           시군구명  cluster_산업경제  시군구코드
0      부산광역시 중구             0  26110
1      부산광역시 서구             0  26140
2      부산광역시 동구             0  26170
3     부산광역시 영도구             0  26200
4    부산광역시 부산진구             0  26230
..          ...           ...    ...
168    충청남도 아산시             2  44200
169    충청남도 당진시             1  44830
170    경상남도 김해시             1  48250
171   부산광역시 기장군             0  26710
172    충청남도 계룡시             1  44250

[173 rows x 3 columns]

In [8]:
df_pi = pd.merge(df_p, df_i_m, how='outer', on=['시군구명'])

In [9]:
df_pi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 172
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    173 non-null    int64
 1   시군구명          173 non-null    object
 2   과거대비인구변화      173 non-null    float64
 3   최근인구변화        173 non-null    float64
 4   과거대비사업체변화     173 non-null    float64
 5   최근사업체변화       173 non-null    float64
 6   노후건축물비율       173 non-null    float64
 7   인구사회          173 non-null    float64
 8   여성종사자비율       173 non-null    float64
 9   20세미만인구성장률    173 non-null    float64
 10  재정자립도         173 non-null    float64
 11  경제활동인구대비종사자수  173 non-null    float64
 12  특허출원건수        173 non-null    float64
 13  1인당주민세        173 non-null    float64
 14  1인당공원면적       173 non-null    float64
 15  도로밀도          173 non-null    float64
 16  1만인당공무원수      173 non-null    float64
 17  건축허가면적증감률     173 non-null    float64
 18  주민등록인구전출입률    173 non-null    float64
 19  폐기물재활용률       173 non-null    float64
 20  1만인당사회복지시설수   173 non-null    float64
 21  1만인당문화체육시설수   173 non-null    float64
 22  1만인당축제건수      173 non-null    float64
 23  비영리단체수        173 non-null    float64
 24  비영리단체수등급      173 non-null    float64
 25  cluster_인구사회  173 non-null    int64
 26  cluster_산업경제  173 non-null    int64
 27  시군구코드         173 non-null    int64
dtypes: float64(23), int64(4), object(1)
memory usage: 39.2+ KB

In [10]:
df_all = pd.merge(df_pi, df_e[['시군구코드', 'cluster_물리환경']], how='outer', on=['시군구코드'])

In [11]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 172
Data columns (total 29 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    173 non-null    int64
 1   시군구명          173 non-null    object
 2   과거대비인구변화      173 non-null    float64
 3   최근인구변화        173 non-null    float64
 4   과거대비사업체변화     173 non-null    float64
 5   최근사업체변화       173 non-null    float64
 6   노후건축물비율       173 non-null    float64
 7   인구사회          173 non-null    float64
 8   여성종사자비율       173 non-null    float64
 9   20세미만인구성장률    173 non-null    float64
 10  재정자립도         173 non-null    float64
 11  경제활동인구대비종사자수  173 non-null    float64
 12  특허출원건수        173 non-null    float64
 13  1인당주민세        173 non-null    float64
 14  1인당공원면적       173 non-null    float64
 15  도로밀도          173 non-null    float64
 16  1만인당공무원수      173 non-null    float64
 17  건축허가면적증감률     173 non-null    float64
 18  주민등록인구전출입률    173 non-null    float64
 19  폐기물재활용률       173 non-null    float64
 20  1만인당사회복지시설수   173 non-null    float64
 21  1만인당문화체육시설수   173 non-null    float64
 22  1만인당축제건수      173 non-null    float64
 23  비영리단체수        173 non-null    float64
 24  비영리단체수등급      173 non-null    float64
 25  cluster_인구사회  173 non-null    int64
 26  cluster_산업경제  173 non-null    int64
 27  시군구코드         173 non-null    int64
 28  cluster_물리환경  173 non-null    int64
dtypes: float64(23), int64(5), object(1)
memory usage: 40.5+ KB

In [12]:
df_all['cluster_final'] = df_all['cluster_인구사회'] + df_all['cluster_물리환경'] + df_all['cluster_산업경제']

In [13]:
df_all.cluster_final

0      1
1      4
2      1
3      1
4      2
      ..
168    2
169    1
170    5
171    2
172    3
Name: cluster_final, Length: 173, dtype: int64

In [14]:
df_all.to_csv('cluster_final.csv')

In [15]:
import folium
import json

geo_path = 'Data/sig_wgs84.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

In [20]:
df_all['시군구코드'] = df_all.시군구코드.map(lambda x : str(x).zfill(5))

In [21]:
m = folium.Map(location=[36, 127], tiles="OpenStreetMap", zoom_start=7)

m.choropleth(
    geo_data=geo_str,
    name='활성화지표',
    data=df_all,
    columns=['시군구코드', 'cluster_final'],
    key_on='feature.properties.SIG_CD',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'activation'
)

# https://blog.naver.com/yun9706/222454846442

folium.LayerControl().add_to(m)

In [22]:

# Save to html
m.save('folium_kr_최종.html')